<h2>Sign up</h2>

<%= form_for @user,url: second_step_registrations_path do |f| %>
  <%= devise_error_messages! %>
  <div id="errorDiv_id"></div>
  <div><%= f.label :email %>  
  <%= f.email_field :email %>
    <div id="error_email"></div>
   	<label for="email">(e.g. abc@cuberoot.in)</label>
  </div>


  <div><%= f.label :phone_number %>
    <%= f.text_field :phone_number %></div>
   <div id="error_phone_number"> </div>

   <div><%= f.label :emergency_phone_number %>
      <%= f.text_field :emergency_phone_number %></div>
     <div id="error_emergency_phone_number"></div>

     <div><%= f.label :emergency_contact_person %>
     <%= f.text_field :emergency_contact_person %></div>
    <div id="error_emergency_contact_person"></div>


    <div><%= f.label :alternate_phone_number %>
      <%= f.text_field :alternate_phone_number %></div>
    <div id="error_alternate_phone_number"></div>

   <div><%= f.label :official_email_id %>
     <%= f.text_field :official_email_id %></div>
   <div id="error_official_email_id"></div>

    <div><%= f.label :alternate_email_id %>
      <%= f.text_field :alternate_email_id %></div>
    <div id="error_alternate_email_id"></div>

   <input type="submit" value="Next" id="bttn_next">

<% end %>

<%= render "devise/shared/links" %>


<script type="text/javascript">
var $j = jQuery.noConflict();
  var ck_phone_number = /^[0-9 ]{10,10}$/;
  var ck_emergency_phone_number = /^[0-9 ]{10,10}$/;
  var ck_emergency_contact_person = /^[a-z]$/;
  var ck_alternate_phone_number = /^[0-9 ]{10,10}$/;
  var ck_official_email_id = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
  var ck_alternate_email_id = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
  var ck_english  = /^[A-Za-z]+$/;

  // Validations on focus out from the text fields

  $j("#user_phone_number").focusout(function() {
      var phone_number = $j('#user_phone_number').val();
      if (!ck_phone_number.test(phone_number)) {
        $j("#error_phone_number").css('color','red');
        $j("#error_phone_number").text(" Enter 10 digit phone number ");
        $j("#user_phone_number").css('border-color', 'red');
      }
      if (ck_phone_number.test(phone_number)) {
        $j("#error_phone_number").text(" ");
        $j("#user_phone_number").css('border-color', 'rgba(82, 168, 236, 0.8)');
      }
      });

    $j("#user_email").focusout(function(){
        var user_email_val = $j('#user_email').val();
        new Ajax.Request("/users/find_user_emails", {
                              method: 'get',
                              parameters: { "email": user_email_val },
                              onSuccess: function(res){
                               if(res.responseText != "User not found\n\n") {
                                 $j("#user_email").css('border-color','red');
                                 $j("#error_email").css('color','red');
                                 $j("#error_email").text('Email already in use.Please select some other email');
                               } else {
                                 $j("#user_email").css('border-color','rgba(82, 168, 236, 0.8)');
                                 $j("#error_email").text(' ');
                             }
                           }
        });
    });

  $j("#user_emergency_phone_number").focusout(function() {
      var emergency_phone_number = $j('#user_emergency_phone_number').val();
      if (!ck_emergency_phone_number.test(emergency_phone_number)) {
        $j("#error_emergency_phone_number").css('color','red');
        $j("#error_emergency_phone_number").text("Enter 10 digit emergency phone number");
        $j("#user_emergency_phone_number").css('border-color', 'red');
      }
      if (ck_emergency_phone_number.test(emergency_phone_number)) {
        $j("#error_emergency_phone_number").text(" ");
        $j("#user_emergency_phone_number").css('border-color', 'rgba(82, 168, 236, 0.8)');
      }

  });

  $j("#user_emergency_contact_person").focusout(function() {
      var emergency_contact_person = $j('#user_emergency_contact_person').val();
 /*     if (!ck_emergency_phone_number.test(emergency_phone_number)) {
         $j("#error_emergency_phone_number").text("Enter 10 digit emergency phone number");
      }
      if (ck_emergency_phone_number.test(emergency_phone_number)) {
          $j("#error_emergency_phone_number").text(" ");
      }

      $j("#error_emergency_contact_person").text("focusout fired: "); */
  });

  $j("#user_alternate_phone_number").focusout(function() {
     var alternate_phone_number = $j('#user_alternate_phone_number').val();
     if (!ck_alternate_phone_number.test(alternate_phone_number)) {
      $j("#error_alternate_phone_number").css('color','red');
      $j("#error_alternate_phone_number").text("Enter 10 digit alternate phone number ");
      $j("#user_alternate_phone_number").css('border-color', 'red');
     }

     if (ck_alternate_phone_number.test(alternate_phone_number)) {
       $j("#error_alternate_phone_number").text(" ");
       $j("#user_alternate_phone_number").css('border-color', 'rgba(82, 168, 236, 0.8)');
     }
  });

  $j("#user_official_email_id").focusout(function() {
      var official_email_id = $j('#user_official_email_id').val();

      if (!ck_official_email_id.test(official_email_id)) {
        $j("#error_official_email_id").css('color','red');
        $j("#error_official_email_id").text("Enter valid official email id");
        $j("#user_official_email_id").css('border-color', 'red');
      }

       if (ck_official_email_id.test(official_email_id)) {
         $j("#error_official_email_id").text(" ");
         $j("#user_official_email_id").css('border-color', 'rgba(82, 168, 236, 0.8)');
       }
  });

  $j("#user_alternate_email_id").focusout(function() {
     var alternate_email_id = $j('#user_alternate_email_id').val();

     if (!ck_alternate_email_id.test(alternate_email_id)) {
       $j("#error_alternate_email_id").css('color','red');
       $j("#error_alternate_email_id").text(" Enter valid alternate email id ");
       $j("#user_alternate_email_id").css('border-color', 'red');
     }

     if (ck_alternate_email_id.test(alternate_email_id)) {
      $j("#error_alternate_email_id").text(" ");
      $j("#user_alternate_email_id").css('border-color', 'rgba(82, 168, 236, 0.8)');
     }
  });


    $j('#new_user').submit(function() {
      var errors = "";
      var phone_number = $j('#user_phone_number').val();
      var emergency_phone_number = $j('#user_emergency_phone_number').val();
      var emergency_contact_person = $j('#user_emergency_contact_person').val();
      var alternate_phone_number = $j('#user_alternate_phone_number').val();
      var official_email_id = $j('#user_official_email_id').val();
      var alternate_email_id = $j('#user_alternate_email_id').val();

      if (!ck_phone_number.test(phone_number)) {
         errors += " error1";
         $j("#error_phone_number").css('color','red');
         $j("#error_phone_number").text(" Enter 10 digit phone number ");
         $j("#user_phone_number").css('border-color', 'red');
       }
       if (ck_phone_number.test(phone_number)) {
         $j("#error_phone_number").text(" ");
         $j("#user_phone_number").css('border-color', 'rgba(82, 168, 236, 0.8)');
       }


       if (!ck_emergency_phone_number.test(emergency_phone_number)) {
         errors += "error2";
         $j("#error_emergency_phone_number").css('color','red');
         $j("#error_emergency_phone_number").text("Enter 10 digit emergency phone number ");
         $j("#user_emergency_phone_number").css('border-color', 'red');
       }
       if (ck_emergency_phone_number.test(emergency_phone_number)) {
         $j("#error_emergency_phone_number").text(" ");
         $j("#user_emergency_phone_number").css('border-color', 'rgba(82, 168, 236, 0.8)');
       }


       if (!ck_alternate_phone_number.test(alternate_phone_number)) {
         errors += "error3";
         $j("#error_alternate_phone_number").css('color','red');
         $j("#error_alternate_phone_number").text("Enter 10 digit alternate phone number ");
         $j("#user_alternate_phone_number").css('border-color', 'red');
       }
       if (ck_alternate_phone_number.test(alternate_phone_number)) {
         $j("#error_alternate_phone_number").text(" ");
         $j("#user_alternate_phone_number").css('border-color', 'rgba(82, 168, 236, 0.8)');
       }

       if (!ck_official_email_id.test(official_email_id)) {
         errors += "error4";
         $j("#error_official_email_id").css('color','red');
         $j("#error_official_email_id").text("Enter valid official email id");
         $j("#user_official_email_id").css('border-color', 'red');
       }
       if (ck_official_email_id.test(official_email_id)) {
         $j("#error_official_email_id").text(" ");
         $j("#user_official_email_id").css('border-color', 'rgba(82, 168, 236, 0.8)');
       }


       if (!ck_alternate_email_id.test(alternate_email_id)) {
         errors += "error5";
         $j("#error_alternate_email_id").css('color','red');
         $j("#error_alternate_email_id").text(" Enter valid alternate email id ");
         $j("#user_alternate_email_id").css('border-color', 'red');
       }
       if (ck_alternate_email_id.test(alternate_email_id)) {
         $j("#error_alternate_email_id").text(" ");
         $j("#user_alternate_email_id").css('border-color', 'rgba(82, 168, 236, 0.8)');
       }

       if (errors.length > 0) {
         return false;
       }

      return true;
    });


    $j('#bttn_next').click(function() {
  //    alert("In submit click");
       $j('#new_user').submit();
    });

</script>
