<h2>Sign up</h2>

<%= form_for @user,:url => second_step_registrations_path do |f| %>
  <%= devise_error_messages! %>
  
  <div id="errorDiv_id"></div>
  <div><%= f.label :email %>
    <%= f.email_field :email %></div>
  <div id="error_email"></div>

  <div><%= f.label :phone_number %>
    <%= f.text_field :phone_number %></div>
   <div id="error_phone_number"> </div>

   <div><%= f.label :emergency_phone_number %>
      <%= f.text_field :emergency_phone_number %></div>
     <div id="error_emergency_phone_number"></div>


     <div><%= f.label :emergency_contact_person %>
     <%= f.text_field :emergency_contact_person %></div>
    <div id="error_emergency_contact_person"></div>


    <div><%= f.label :alternate_phone_number %>
      <%= f.text_field :alternate_phone_number %></div>
    <div id="error_alternate_phone_number"></div>

   <div><%= f.label :official_email_id %>
     <%= f.text_field :official_email_id %></div>
   <div id="error_official_email_id"></div>

    <div><%= f.label :alternate_email_id %>
      <%= f.text_field :alternate_email_id %></div>
    <div id="error_alternate_email_id"></div>
 
   <input type="submit" value="Next" id="bttn_next">

<% end %>

<%= render "devise/shared/links" %>


<script type="text/javascript">

  var ck_phone_number = /^[0-9 ]{10,10}$/;
  var ck_emergency_phone_number = /^[0-9 ]{10,10}$/;
  var ck_emergency_contact_person = /^[a-z]$/;
  var ck_alternate_phone_number = /^[0-9 ]{10,10}$/;
  var ck_official_email_id = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
  var ck_alternate_email_id = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
  var ck_english  = /^[A-Za-z]+$/;

  // Validations on focus out from the text fields

  $("#user_phone_number").focusout(function() {
      var phone_number = $('#user_phone_number').val();
      if (!ck_phone_number.test(phone_number)) {
        $("#error_phone_number").css('color','red');
        $("#error_phone_number").text(" Enter 10 digit phone number ");
        $("#user_phone_number").css('border-color', 'red');
      } 
      if (ck_phone_number.test(phone_number)) {
        $("#error_phone_number").text(" ");
        $("#user_phone_number").css('border-color', 'rgba(82, 168, 236, 0.8)');
        
      } 
     
  });

  $("#user_emergency_phone_number").focusout(function() {
      var emergency_phone_number = $('#user_emergency_phone_number').val();
      if (!ck_emergency_phone_number.test(emergency_phone_number)) {
        $("#error_emergency_phone_number").css('color','red');
        $("#error_emergency_phone_number").text("Enter 10 digit emergency phone number");
        $("#user_emergency_phone_number").css('border-color', 'red');
      }
      if (ck_emergency_phone_number.test(emergency_phone_number)) {
        $("#error_emergency_phone_number").text(" ");
        $("#user_emergency_phone_number").css('border-color', 'rgba(82, 168, 236, 0.8)');
      }

  });

  $("#user_emergency_contact_person").focusout(function() {
      var emergency_contact_person = $('#user_emergency_contact_person').val();
 /*     if (!ck_emergency_phone_number.test(emergency_phone_number)) {
         $("#error_emergency_phone_number").text("Enter 10 digit emergency phone number");
      }
      if (ck_emergency_phone_number.test(emergency_phone_number)) {
          $("#error_emergency_phone_number").text(" ");
      }

      $("#error_emergency_contact_person").text("focusout fired: "); */
  }); 

  $("#user_alternate_phone_number").focusout(function() {
     var alternate_phone_number = $('#user_alternate_phone_number').val();
     if (!ck_alternate_phone_number.test(alternate_phone_number)) {
      $("#error_alternate_phone_number").css('color','red');
      $("#error_alternate_phone_number").text("Enter 10 digit alternate phone number ");
      $("#user_alternate_phone_number").css('border-color', 'red');
     }

     if (ck_alternate_phone_number.test(alternate_phone_number)) {
       $("#error_alternate_phone_number").text(" ");
       $("#user_alternate_phone_number").css('border-color', 'rgba(82, 168, 236, 0.8)');
     } 
  }); 

  $("#user_official_email_id").focusout(function() {
      var official_email_id = $('#user_official_email_id').val();

      if (!ck_official_email_id.test(official_email_id)) {
        $("#error_official_email_id").css('color','red');
        $("#error_official_email_id").text("Enter valid official email id");
        $("#user_official_email_id").css('border-color', 'red');
      }

       if (ck_official_email_id.test(official_email_id)) {
         $("#error_official_email_id").text(" ");
         $("#user_official_email_id").css('border-color', 'rgba(82, 168, 236, 0.8)');
       }
  }); 

  $("#user_alternate_email_id").focusout(function() {
     var alternate_email_id = $('#user_alternate_email_id').val();

     if (!ck_alternate_email_id.test(alternate_email_id)) {
       $("#error_alternate_email_id").css('color','red');
       $("#error_alternate_email_id").text(" Enter valid alternate email id ");
       $("#user_alternate_email_id").css('border-color', 'red');
     }

     if (ck_alternate_email_id.test(alternate_email_id)) {
      $("#error_alternate_email_id").text(" ");
      $("#user_alternate_email_id").css('border-color', 'rgba(82, 168, 236, 0.8)');
     }
  }); 


    $('#new_user').submit(function() {
      var errors = "";
      var phone_number = $('#user_phone_number').val();
      var emergency_phone_number = $('#user_emergency_phone_number').val();
      var emergency_contact_person = $('#user_emergency_contact_person').val();
      var alternate_phone_number = $('#user_alternate_phone_number').val();
      var official_email_id = $('#user_official_email_id').val();
      var alternate_email_id = $('#user_alternate_email_id').val();

      if (!ck_phone_number.test(phone_number)) {
         errors += " error1";
         $("#error_phone_number").css('color','red');
         $("#error_phone_number").text(" Enter 10 digit phone number ");
         $("#user_phone_number").css('border-color', 'red');
       }
       if (ck_phone_number.test(phone_number)) {
         $("#error_phone_number").text(" ");
         $("#user_phone_number").css('border-color', 'rgba(82, 168, 236, 0.8)');
       } 


       if (!ck_emergency_phone_number.test(emergency_phone_number)) {
         errors += "error2";
         $("#error_emergency_phone_number").css('color','red');
         $("#error_emergency_phone_number").text("Enter 10 digit emergency phone number ");
         $("#user_emergency_phone_number").css('border-color', 'red');
       }
       if (ck_emergency_phone_number.test(emergency_phone_number)) {
         $("#error_emergency_phone_number").text(" ");
         $("#user_emergency_phone_number").css('border-color', 'rgba(82, 168, 236, 0.8)');
       }


       if (!ck_alternate_phone_number.test(alternate_phone_number)) {
         errors += "error3";
         $("#error_alternate_phone_number").css('color','red');
         $("#error_alternate_phone_number").text("Enter 10 digit alternate phone number ");
         $("#user_alternate_phone_number").css('border-color', 'red');
       }
       if (ck_alternate_phone_number.test(alternate_phone_number)) {
         $("#error_alternate_phone_number").text(" ");
         $("#user_alternate_phone_number").css('border-color', 'rgba(82, 168, 236, 0.8)');
       }

       if (!ck_official_email_id.test(official_email_id)) {
         errors += "error4";
         $("#error_official_email_id").css('color','red');
         $("#error_official_email_id").text("Enter valid official email id");
         $("#user_official_email_id").css('border-color', 'red');
       }
       if (ck_official_email_id.test(official_email_id)) {
         $("#error_official_email_id").text(" ");
         $("#user_official_email_id").css('border-color', 'rgba(82, 168, 236, 0.8)');
       }


       if (!ck_alternate_email_id.test(alternate_email_id)) {
         errors += "error5";
         $("#error_alternate_email_id").css('color','red');
         $("#error_alternate_email_id").text(" Enter valid alternate email id ");
         $("#user_alternate_email_id").css('border-color', 'red');
       }
       if (ck_alternate_email_id.test(alternate_email_id)) {
         $("#error_alternate_email_id").text(" ");
         $("#user_alternate_email_id").css('border-color', 'rgba(82, 168, 236, 0.8)');
       }

       if (errors.length > 0) {
         return false;
       }

      return true;
    });


    $('#bttn_next"').click(function() {
  //    alert("In submit click");
       $('#new_user').submit();
    });

</script>

