<h2>Second Step</h2>
<%= form_for @user, :url => registrations_path do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.hidden_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.hidden_field :phone_number %></div>

  <div><%= f.hidden_field :emergency_phone_number %></div>

  <div><%= f.hidden_field :emergency_contact_person %></div>

  <div><%= f.hidden_field :alternate_phone_number %></div>

   <div><%= f.hidden_field :official_email_id %></div>

   <div><%= f.hidden_field :alternate_email_id %></div>

   <div id="dateofbirth_div_id">
    <%= f.label :date_of_birth,"Date of Birth" %>
    <%= f.text_field :date_of_birth %>
  </div>

   <div><%= f.label :blood_group %></div>
   <%= f.select :blood_group, options_for_post_bloodgroup %>

  <div>
    <%= f.label :local_address,"Local Address :" %>
    <%= f.hidden_field :local_address %>
  </div>

  <div>
    <label for="localAddressCity">City</label>
    <input id="user_local_address_city" type="text">
  </div>
  <div id="error_local_address_city"></div>

  <div>
    <label for="localAddressState">State</label>
    <input id="user_local_address_state" type="text">
  </div>
   <div id="error_local_address_state"></div>


  <div>
    <label for="localAddressPinCode">Pin Code</label>
    <input id="user_local_address_pin_code" type="text">
  </div>
   <div id="error_local_address_pincode"></div>

  <div><%= f.label :permanent_address %>
      <%= f.hidden_field :permanent_address %>
  </div>

  <div>
    <label for="PermanentAddressCity">City</label>
    <input id="user_permanent_address_city" type="text">
  </div>
  <div id="error_permanent_address_city"></div>


  <div>
    <label for="permanentAddressState">State</label>
    <input id="user_permanent_address_state" type="text">
  </div>
  <div id="error_permanent_address_state"></div>

  <div>
    <label for="permanentAddressPinCode">Pin Code</label>
    <input id="user_permanent_address_pin_code" type="text">
  </div>
  <div id="error_permanent_address_pincode"></div>

  <div>
    <%= link_to "Test", first_step_registrations_path(@user), :method => :post  %>
    <%= link_to "Test1", :url => first_step_registrations_path, :method =>:post %>
    <%= link_to "Test2", { :controller => "registrations", :action => "first_step", :method => :post, :name => "commit" } %>
  </div>
  <div><input type="submit" value="Sign up" name="commit" id="submit_id"> </div>
  <div><input type="button" value="Previous" name="commit" id="bttn_previous"> </div>

  <%= render "devise/shared/links" %>
<% end %>

<script type="text/javascript">

  var ck_english  = /^[A-Za-z]+$/;
  var ck_local_address_pincode = /^[0-9 ]{6,6}$/;
  var ck_pincode = /^[0-9 ]{6,6}$/;

  $('#user_date_of_birth').datepicker({maxDate: "0M",dateFormat: "yy-mm-dd" });

  // Validations on focus out from the text fields

    $("#user_local_address_city").focusout(function() {
      var local_address_city = $("#user_local_address_city").val();
      if(!ck_english.test(local_address_city)) {
       $("#error_local_address_city").css('color','red');
       $("#error_local_address_city").text(" Enter valid city name");
       $("#user_local_address_city").css('border-color', 'red');
        
      }

      if(ck_english.test(local_address_city)) {
       $("#error_local_address_city").text(" ");
       $("#user_local_address_city").css('border-color', 'rgba(82, 168, 236, 0.8)');
      }

    });

    $("#user_local_address_state").focusout(function() {
      var local_address_state = $("#user_local_address_state").val();
      if(!ck_english.test(local_address_state)) {
       $("#error_local_address_state").css('color','red');
       $("#error_local_address_state").text(" Enter valid state name");
       $("#user_local_address_state").css('border-color', 'red');
        
      }

      if(ck_english.test(local_address_state)) {
       $("#error_local_address_state").text(" ");
       $("#user_local_address_state").css('border-color', 'rgba(82, 168, 236, 0.8)');
      }
    });

    $("#user_local_address_pin_code").focusout(function() {
      var local_address_pincode = $("#user_local_address_pin_code").val();
      if(!ck_pincode.test(local_address_pincode)) {
       $("#error_local_address_pincode").css('color','red');
       $("#error_local_address_pincode").text(" Enter valid pincode");
       $("#user_local_address_pin_code").css('border-color', 'red');
        
      }

      if(ck_pincode.test(local_address_pincode)) {
       $("#error_local_address_pincode").text(" ");
       $("#user_local_address_pin_code").css('border-color', 'rgba(82, 168, 236, 0.8)');
      }
    
      $("#user_local_address").val($('#user_local_address_city').val() + "," + $("#user_local_address_state").val() + "-" + $("#user_local_address_pin_code").val());
    });

    $("#user_permanent_address_city").focusout(function() {
      var permanent_address_city = $("#user_permanent_address_city").val();
      if(!ck_english.test(permanent_address_city)) {
       $("#error_permanent_address_city").css('color','red');
       $("#error_permanent_address_city").text(" Enter valid city name");
       $("#user_permanent_address_city").css('border-color', 'red');
        
      }

      if(ck_english.test(permanent_address_city)) {
         $("#error_permanent_address_city").text(" ");
         $("#user_permanent_address_city").css('border-color', 'rgba(82, 168, 236, 0.8)');
      }

   });

    $("#user_permanent_address_state").focusout(function() {
      var permanent_address_state = $("#user_permanent_address_state").val();
      if(!ck_english.test(permanent_address_state)) {
       $("#error_permanent_address_state").css('color','red');
       $("#error_permanent_address_state").text(" Enter valid state name");
       $("#user_permanent_address_state").css('border-color', 'red');
        
      }

      if(ck_english.test(permanent_address_state)) {
       $("#error_permanent_address_state").text(" ");
       $("#user_permanent_address_state").css('border-color', 'rgba(82, 168, 236, 0.8)');
      }
    });

   $("#user_permanent_address_pin_code").focusout(function() {
      var permanent_address_pincode = $("#user_permanent_address_pin_code").val();
      if(!ck_pincode.test(permanent_address_pincode)) {
       $("#error_permanent_address_pincode").css('color','red');
       $("#error_permanent_address_pincode").text(" Enter valid pincode");
       $("#user_permanent_address_pin_code").css('border-color', 'red');
        
      }

      if(ck_pincode.test(permanent_address_pincode)) {
       $("#error_permanent_address_pincode").text(" ");
       $("#user_permanent_address_pin_code").css('border-color', 'rgba(82, 168, 236, 0.8)');
      }

      $("#user_permanent_address").val($('#user_permanent_address_city').val() + "," + $("#user_permanent_address_state").val() + "-" + $("#user_permanent_address_pin_code").val());
    });





  function myFunction()
  {
    alert("I am an alert box!");
  }

  $('#new_user').submit(function() {
      var errors = "";
      var phone_number = $('#user_phone_number').val();
      var emergency_phone_number = $('#user_emergency_phone_number').val();
      var emergency_contact_person = $('#user_emergency_contact_person').val();
      var alternate_phone_number = $('#user_alternate_phone_number').val();
      var official_email_id = $('#user_official_email_id').val();
      var alternate_email_id = $('#user_alternate_email_id').val();
      var local_address_city = $("#user_local_address_city").val();
      var local_address_state = $('#user_local_address_state').val();
      var local_address_pincode = $("#user_local_address_pin_code").val();
      var permanent_address_city = $("#user_permanent_address_city").val();
      var permanent_address_state = $("#user_permanent_address_state").val();
      var permanent_address_pincode = $("#user_permanent_address_pin_code").val();
    

      if(!ck_english.test(local_address_city)) {
         errors += "error6";
         $("#error_local_address_city").css('color','red');
         $("#error_local_address_city").text(" Enter valid city name");
         $("#user_local_address_city").css('border-color', 'red');
       }
       if(ck_english.test(local_address_city)) {
         $("#error_local_address_city").text(" ");
         $("#user_local_address_city").css('border-color', 'rgba(82, 168, 236, 0.8)');
       }

       if(!ck_english.test(local_address_state)) {
         errors += "error7";
         $("#error_local_address_state").css('color','red');
         $("#error_local_address_state").text(" Enter valid state name");
         $("#user_local_address_state").css('border-color', 'red');
       }
       if(ck_english.test(local_address_state)) {
         $("#error_local_address_state").text(" ");
         $("#user_local_address_state").css('border-color', 'rgba(82, 168, 236, 0.8)');
       }

       if(!ck_pincode.test(local_address_pincode)) {
         errors += "error8";
         $("#error_local_address_pincode").css('color','red');
         $("#error_local_address_pincode").text(" Enter valid pincode");
         $("#user_local_address_pin_code").css('border-color', 'red');
       }
       if(ck_pincode.test(local_address_pincode)) {
         $("#error_local_address_pincode").text(" ");
         $("#user_local_address_pin_code").css('border-color', 'rgba(82, 168, 236, 0.8)');
       }

       if(!ck_english.test(permanent_address_city)) {
         errors += "error9";
         $("#error_permanent_address_city").css('color','red');
         $("#error_permanent_address_city").text(" Enter valid city name");
         $("#user_permanent_address_city").css('border-color', 'red');
       }
       if(ck_english.test(permanent_address_city)) {
         $("#error_permanent_address_city").text(" ");
         $("#user_permanent_address_city").css('border-color', 'rgba(82, 168, 236, 0.8)');
       }

       if(!ck_english.test(permanent_address_state)) {
         errors += "error10";
         $("#error_permanent_address_state").css('color','red');
         $("#error_permanent_address_state").text(" Enter valid state name");
         $("#user_permanent_address_state").css('border-color', 'red');
       } 
       if(ck_english.test(permanent_address_state)) {
         $("#error_permanent_address_state").text(" ");
         $("#user_permanent_address_state").css('border-color', 'rgba(82, 168, 236, 0.8)');
       }
 
       if(!ck_pincode.test(permanent_address_pincode)) {
         errors += "error11";
         $("#error_permanent_address_pincode").css('color','red');
         $("#error_permanent_address_pincode").text(" Enter valid pincode");
         $("#user_permanent_address_pin_code").css('border-color', 'red');
       }
       if(ck_pincode.test(permanent_address_pincode)) {
         $("#error_permanent_address_pincode").text(" ");
         $("#user_permanent_address_pin_code").css('border-color', 'rgba(82, 168, 236, 0.8)');
       }
       
       alert("In new user submit");

       if (errors.length > 0) {
         return false;
       }

      return true;
    });

    $('#submit_id"').click(function() {
      alert("In submit click");
       $('#new_user').submit();
    });

</script>

