%h2 Change your password
= form_for(@user, url: password_reset_users_path) do |f|
  %div
    = f.label :password, "New password"
    %br/
    = f.password_field :password
  %div
    = f.label :password_confirmation, "Confirm new password"
    %br/
    = f.password_field :password_confirmation
  %div= f.submit "Change my password"
