<%= content_for :sidebar do %>
  <%= render '/setups/leave_balance' %>
<% end %>

<h2>Employee's DashBoard:-</h2>
<table class="table table-bordered">
  <caption>Pending Leaves of <%= current_user.email %></caption>
  <tr>
    <th>Applied_on</th>
    <th>No_of_Days</th>
    <th>Start_date</th>
    <th>End_date</th>
    <th>Current_status</th>
  </tr>

 <%= render partial: "pending_leaves", collection: @leaves, as: :leave %>

</table>

<br />
<hr />
<br />

<table class="table table-bordered">
  <caption>Rejected Leaves of <%= current_user.email %></caption>
  <tr>
    <th>Applied_on</th>
    <th>No_of_Days</th>
    <th>Start_date</th>
    <th>End_date</th>
    <th>Current_status</th>
  </tr>
  <%= render partial: "rejected_leaves", collection: @leaves, as: :leave %>
</table>

<br />
<hr />
<br />
<table class="table table-bordered">
  <caption>Approved Leaves of <%= current_user.email %></caption>
  <tr>
    <th>Applied_on</th>
    <th>No_of_Days</th>
    <th>Start_date</th>
    <th>End_date</th>
    <th>Approved_on</th>
    <th>Approved_by</th>
   </tr>

  <%= render partial: "approved_leaves", collection: @leaves, as: :leave %></table>
<br />
<hr />
<br />
<%= link_to "Apply for Leave", new_leave_path, :class => 'btn' %>
<br />
<br />

<%= link_to "Holiday List", holidays_index_path %>
<div style="background: #9EB0C8;">
  <hr id="hr1"/> 
</div>
<% if current_user.role == 'manager' %>
  <table class="table table-bordered">
    <caption>Pending leaves of employees</caption>
    <tr>
      <th>Applied_on</th>
      <th>No_of_Days</th>
      <th>Start_date</th>
      <th>End_date</th>
      <th>Current_status</th>
      <th>Employee</th>
      <th>Action</th>
    </tr>

  <% @subordinates = User.where(manager_id: current_user.id) %>
  <% @subordinates.each do |subordinate| %>
    <% @subordinates_leaves = subordinate.leaves %>
    <% @subordinates_leaves.each do |leave| %>
      <% if leave.current_status == "Pending" && leave.start_date.year.to_s == session[:current_year].to_s %>
      <tr>
        <td><%= leave.created_at.strftime("%d-%m-%Y") %></td>
        <td><%= leave.no_of_days %></td>
        <td><%= leave.start_date.strftime("%d-%m-%Y") %></td>
        <td><%= leave.end_date.strftime("%d-%m-%Y") %></td>
        <td><%= leave.current_status %></td>
        <td><%= leave.user_email %></td>
        <td>
          <%= link_to 'Approve/Reject', approve_reject_leave_path(id: leave.id, user_id: leave.user.id)%>
        </td>
      </tr>
    <% end %>
    <% end %>
  <% end %>
</table>

<br />
<hr />
<br />

<table class="table table-bordered">
  <caption>Approved Leaves of employees</caption>
  <tr>
    <th>Applied_on</th>
    <th>No_of_Days</th>
    <th>Start_date</th>
    <th>End_date</th>
    <th>Approved_on</th>
    <th>Email</th>
    <th></th>
   </tr>

   <% @subordinates = User.where(manager_id: current_user.id) %>
   <% @subordinates.each do |subordinate| %>
      <% @subordinates_leaves = subordinate.leaves %>
      <% @subordinates_leaves.each do |leave| %>
      <% if leave.current_status == "Approved"  && leave.start_date.year.to_s == session[:current_year].to_s %>
        <tr>
          <td><%= leave.created_at.strftime("%d-%m-%Y") %></td>
          <td><%= leave.no_of_days %></td>
          <td><%= leave.start_date.strftime("%d-%m-%Y") %></td>
          <td><%= leave.end_date.strftime("%d-%m-%Y") %></td>
          <td><%= leave.updated_at.strftime("%d-%m-%Y") %></td>
          <td><%= leave.user_email %></td>
          <td><%= button_to 'Reject (in case)', { action: :update, id: leave.id, commit: "Reject (in case)" }, method: :put %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>

<br />
<hr />
<br />

<table class="table table-bordered">
  <caption>Rejected Leaves of employees</caption>
  <tr>
    <th>Applied_on</th>
    <th>No_of_Days</th>
    <th>Start_date</th>
    <th>End_date</th>
    <th>Approved_on</th>
    <th>Email</th>
  </tr>

   <% @subordinates = User.where(manager_id: current_user.id) %>
   <% @subordinates.each do |subordinate| %>
      <% @subordinates_leaves = subordinate.leaves %>
      <% @subordinates_leaves.each do |leave| %>
      <% if leave.current_status == "Rejected" && leave.start_date.year.to_s == session[:current_year].to_s  %>
        <tr>
          <td><%= leave.created_at.strftime("%d-%m-%Y")  %></td>
          <td><%= leave.no_of_days %></td>
          <td><%= leave.start_date.strftime("%d-%m-%Y") %></td>
          <td><%= leave.end_date.strftime("%d-%m-%Y") %></td>
          <td><%= leave.updated_at.strftime("%d-%m-%Y") %></td>
          <td><%= leave.user_email %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>

<% end %>

<script type="text/javascript">
  $(document).ready(function() {
      $(".span3").css({position: "fixed"});
      $(".span9").css({position:"relative",left:"180px"});
      $("#hr1").css({height:"20px"});
  });
</script>
