%h3 Apply For Leave:-
= form_for @leave, url: { action: "create" } do |f|
  - @leave.errors.full_messages.each do |msg|
    %p= msg
  .field-leaveType
    %br/
    = f.label :leave_type
    = f.select(:leave_type, leave_types)

  .field-sDate
    %br/
    = f.label :start_date
    = f.date_select :start_date, order: [:month, :day, :year]
  .field-eDate
    %br/
    = f.label :end_date
    = f.date_select :end_date, order: [:month, :day, :year]
  .field-reason
    %br/    
    = f.label :reason
    = f.text_area :reason
  %hr/
  .actions
    = f.submit

%hr/

=link_to 'Back', leaves_path
