%p#notice
= notice
%p
  %b Applied On
  =l @leave.created_at
%p
  %b Start Date
  =l @leave.start_date
%p
  %b End Date
  = @leave.end_date
%p
  %b No of Days
  = @leave.no_of_days
%p
  %b Current Status
  = @leave.current_status
%p
  = link_to 'Back', leaves_path






