<p id="notice"><%= notice %></p>

<p>
  <b>Applied On</b>
  <%=l @leave.created_at %>
</p>

<p>
  <b>Start Date</b>
  <%=l @leave.start_date %>
</p>

<p>
  <b>End Date</b>
  <%=l @leave.end_date %>
</p>

<p>
  <b>No of Days</b>
  <%= @leave.no_of_days %>
</p>

<p>
  <b>Current Status</b>
  <%= @leave.current_status %>
</p>

<p>
  <%= link_to 'Back', leaves_path %>
</p>

