<h2>Sign up</h2>

<%= form_for @user do |f| %>
  <!---  (resource, :as => resource_name, :url => registration_path(resource_name)) -->
  <!--- /*     */
    -->
  <%= devise_error_messages! %>

  <%= render 'second_step', f: f %>
  <!---  %= render "#{@user.current_step}_step", :f => f % -->
  <!--- first_step_users_path -->
  <div> <%= link_to "First_Step"%> </div>
   <div>
     <p><%= f.submit "Submit" %></p>
    <!--- input type="submit" value="Sign up" name="commit" id="submit_id" -->
  </div>
<% end %>

<%= render "devise/shared/links" %>
