<h2>Sign up</h2>

<%= form_for @user do |f| %>
  <!---  (resource, :as => resource_name, :url => registration_path(resource_name)) -->
  <!--- /*     */
    -->
  <%= devise_error_messages! %>

  <%= render 'second_step', :f => f %>
  <!---  %= render "#{@user.current_step}_step", :f => f % -->
  <!--- first_step_users_path -->
  <div> <%= link_to "First_Step"%> </div>
   <div>
     <p><%= f.submit "Submit" %></p>
    <!--- input type="submit" value="Sign up" name="commit" id="submit_id" -->
  </div>
<% end %>

<%= render "devise/shared/links" %>


<script type="text/javascript">

  var ck_phone_number = /^[0-9 ]{10,10}$/;
  var ck_emergency_phone_number = /^[0-9 ]{10,10}$/;
  var ck_emergency_contact_person = /^[a-z]$/;
  var ck_alternate_phone_number = /^[0-9 ]{10,10}$/;
  var ck_official_email_id = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
  var ck_alternate_email_id = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
  var ck_english  = /^[A-Za-z]+$/;
  var ck_local_address_pincode = /^[0-9 ]{6,6}$/;
  var ck_pincode = /^[0-9 ]{6,6}$/;
  

  $('#user_date_of_birth').datepicker({maxDate: "0M",dateFormat: "yy-mm-dd" });

  $("#user_email").focusout(function() {
  // $("#error_email").text(" Still pending ");
  }); 

  $("#user_phone_number").focusout(function() {
      var phone_number = $('#user_phone_number').val();
      if (!ck_phone_number.test(phone_number)) {
        $("#error_phone_number").css('color','red');
        $("#error_phone_number").text(" Enter 10 digit phone number ");
        $("#user_phone_number").css('border-color', 'red');
      } 
      if (ck_phone_number.test(phone_number)) {
        $("#error_phone_number").text(" ");
        $("#user_phone_number").css('border-color', 'rgba(82, 168, 236, 0.8)');
        
      } 
     
  });

  $("#user_emergency_phone_number").focusout(function() {
      var emergency_phone_number = $('#user_emergency_phone_number').val();
      if (!ck_emergency_phone_number.test(emergency_phone_number)) {
        $("#error_emergency_phone_number").css('color','red');
        $("#error_emergency_phone_number").text("Enter 10 digit emergency phone number");
        $("#user_emergency_phone_number").css('border-color', 'red');
      }
      if (ck_emergency_phone_number.test(emergency_phone_number)) {
        $("#error_emergency_phone_number").text(" ");
        $("#user_emergency_phone_number").css('border-color', 'rgba(82, 168, 236, 0.8)');
      }

  });

  $("#user_emergency_contact_person").focusout(function() {
      var emergency_contact_person = $('#user_emergency_contact_person').val();
 /*     if (!ck_emergency_phone_number.test(emergency_phone_number)) {
         $("#error_emergency_phone_number").text("Enter 10 digit emergency phone number");
      }
      if (ck_emergency_phone_number.test(emergency_phone_number)) {
          $("#error_emergency_phone_number").text(" ");
      }

      $("#error_emergency_contact_person").text("focusout fired: "); */
  }); 

  $("#user_alternate_phone_number").focusout(function() {
     var alternate_phone_number = $('#user_alternate_phone_number').val();
     if (!ck_alternate_phone_number.test(alternate_phone_number)) {
      $("#error_alternate_phone_number").css('color','red');
      $("#error_alternate_phone_number").text("Enter 10 digit alternate phone number ");
      $("#user_alternate_phone_number").css('border-color', 'red');
     }

     if (ck_alternate_phone_number.test(alternate_phone_number)) {
       $("#error_alternate_phone_number").text(" ");
       $("#user_alternate_phone_number").css('border-color', 'rgba(82, 168, 236, 0.8)');
     } 
  }); 

  $("#user_official_email_id").focusout(function() {
      var official_email_id = $('#user_official_email_id').val();

      if (!ck_official_email_id.test(official_email_id)) {
        $("#error_official_email_id").css('color','red');
        $("#error_official_email_id").text("Enter valid official email id");
        $("#user_official_email_id").css('border-color', 'red');
      }

       if (ck_official_email_id.test(official_email_id)) {
         $("#error_official_email_id").text(" ");
         $("#user_official_email_id").css('border-color', 'rgba(82, 168, 236, 0.8)');
       }
  }); 

  $("#user_alternate_email_id").focusout(function() {
     var alternate_email_id = $('#user_alternate_email_id').val();

     if (!ck_alternate_email_id.test(alternate_email_id)) {
       $("#error_alternate_email_id").css('color','red');
       $("#error_alternate_email_id").text(" Enter valid alternate email id ");
       $("#user_alternate_email_id").css('border-color', 'red');
     }

     if (ck_alternate_email_id.test(alternate_email_id)) {
      $("#error_alternate_email_id").text(" ");
      $("#user_alternate_email_id").css('border-color', 'rgba(82, 168, 236, 0.8)');
     }
  }); 

    $("#user_local_address_city").focusout(function() {
      var local_address_city = $("#user_local_address_city").val();
      if(!ck_english.test(local_address_city)) {
       $("#error_local_address_city").css('color','red');
       $("#error_local_address_city").text(" Enter valid city name");
       $("#user_local_address_city").css('border-color', 'red');
        
      }

      if(ck_english.test(local_address_city)) {
       $("#error_local_address_city").text(" ");
       $("#user_local_address_city").css('border-color', 'rgba(82, 168, 236, 0.8)');
      }

    });

    $("#user_local_address_state").focusout(function() {
      var local_address_state = $("#user_local_address_state").val();
      if(!ck_english.test(local_address_state)) {
       $("#error_local_address_state").css('color','red');
       $("#error_local_address_state").text(" Enter valid state name");
       $("#user_local_address_state").css('border-color', 'red');
        
      }

      if(ck_english.test(local_address_state)) {
       $("#error_local_address_state").text(" ");
       $("#user_local_address_state").css('border-color', 'rgba(82, 168, 236, 0.8)');
      }
    });

    $("#user_local_address_pin_code").focusout(function() {
      var local_address_pincode = $("#user_local_address_pin_code").val();
      if(!ck_pincode.test(local_address_pincode)) {
       $("#error_local_address_pincode").css('color','red');
       $("#error_local_address_pincode").text(" Enter valid pincode");
       $("#user_local_address_pin_code").css('border-color', 'red');
        
      }

      if(ck_pincode.test(local_address_pincode)) {
       $("#error_local_address_pincode").text(" ");
       $("#user_local_address_pin_code").css('border-color', 'rgba(82, 168, 236, 0.8)');
      }
    
      $("#user_local_address").val($('#user_local_address_city').val() + "," + $("#user_local_address_state").val() + "-" + $("#user_local_address_pin_code").val());
    });

    $("#user_permanent_address_city").focusout(function() {
      var permanent_address_city = $("#user_permanent_address_city").val();
      if(!ck_english.test(permanent_address_city)) {
       $("#error_permanent_address_city").css('color','red');
       $("#error_permanent_address_city").text(" Enter valid city name");
       $("#user_permanent_address_city").css('border-color', 'red');
        
      }

      if(ck_english.test(permanent_address_city)) {
         $("#error_permanent_address_city").text(" ");
         $("#user_permanent_address_city").css('border-color', 'rgba(82, 168, 236, 0.8)');
      }

   });

    $("#user_permanent_address_state").focusout(function() {
      var permanent_address_state = $("#user_permanent_address_state").val();
      if(!ck_english.test(permanent_address_state)) {
       $("#error_permanent_address_state").css('color','red');
       $("#error_permanent_address_state").text(" Enter valid state name");
       $("#user_permanent_address_state").css('border-color', 'red');
        
      }

      if(ck_english.test(permanent_address_state)) {
       $("#error_permanent_address_state").text(" ");
       $("#user_permanent_address_state").css('border-color', 'rgba(82, 168, 236, 0.8)');
      }
    });

   $("#user_permanent_address_pin_code").focusout(function() {
      var permanent_address_pincode = $("#user_permanent_address_pin_code").val();
      if(!ck_pincode.test(permanent_address_pincode)) {
       $("#error_permanent_address_pincode").css('color','red');
       $("#error_permanent_address_pincode").text(" Enter valid pincode");
       $("#user_permanent_address_pin_code").css('border-color', 'red');
        
      }

      if(ck_pincode.test(permanent_address_pincode)) {
       $("#error_permanent_address_pincode").text(" ");
       $("#user_permanent_address_pin_code").css('border-color', 'rgba(82, 168, 236, 0.8)');
      }

      $("#user_permanent_address").val($('#user_permanent_address_city').val() + "," + $("#user_permanent_address_state").val() + "-" + $("#user_permanent_address_pin_code").val());
    });





  function myFunction()
  {
    alert("I am an alert box!");
  }

    $('#new_user').submit(function() {
      var errors = "";
      var phone_number = $('#user_phone_number').val();
      var emergency_phone_number = $('#user_emergency_phone_number').val();
      var emergency_contact_person = $('#user_emergency_contact_person').val();
      var alternate_phone_number = $('#user_alternate_phone_number').val();
      var official_email_id = $('#user_official_email_id').val();
      var alternate_email_id = $('#user_alternate_email_id').val();
      var local_address_city = ("#user_local_address_city").val();
      var local_address_state = $('#user_local_address_state').val();
      var local_address_pincode = $("#user_local_address_pin_code").val();
      var permanent_address_city = $("#user_permanent_address_city").val();
      var permanent_address_state = $("#user_permanent_address_state").val();
      var permanent_address_pincode = $("#user_permanent_address_pin_code").val();
    
       if (!ck_phone_number.test(phone_number)) {
         errors += " error1";
       }

       if (!ck_emergency_phone_number.test(emergency_phone_number)) {
         errors += "error2 ";
       }

       if (!ck_alternate_phone_number.test(alternate_phone_number)) {
         errors += "error3";
       }

       if (!ck_official_email_id.test(official_email_id)) {
         errors += "error4";
       }

       if (!ck_alternate_email_id.test(alternate_email_id)) {
         errors += "error5";
       }

       if(!ck_english.test(local_address_city)) {
         errors += "error6";
       }
 
       if(!ck_english.test(local_address_state)) {
     		errors += "error7";
       }

       if(!ck_pincode.test(local_address_pincode)) {
    		errors += "error8";
       }

       if(!ck_english.test(local_address_state)) {
    		errors += "error9";
       }

       if(!ck_english.test(local_address_state)) {
    		errors += "error10";
       } 
 
       if(!ck_pincode.test(permanent_address_pincode)) {
         errors += "error11";
       }
       
       if (errors.length > 0) {
         return false;
       }

     return true;
    });

    $('#submit_id"').click(function() {
       $('#new_user').submit();
    });

</script>

